In [1]:
from SRC.cleanDataset import cleanDF

In [4]:
cleanDF().head()

              male_suicides  female_suicides  total_suicides  population  \
Country Year
Denmark 1994          56.67            26.58           83.25   406241.67
        1995          52.08            24.92           77.00   407425.00
        1996          52.58            21.75           74.33   409775.00
        1997          46.67            21.42           68.08   411441.67
        1998          45.58            18.00           63.58   413033.33

              suicides/100k pop   gdp_for_year ($)   gdp_per_capita ($)
Country Year
Denmark 1994              21.10        1.561623e+11             32034.0
        1995              19.93        1.850070e+11             37841.0
        1996              19.13        1.876324e+11             38158.0
        1997              18.21        1.735376e+11             35148.0
        1998              15.72        1.769920e+11             35710.0